.rect1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 880px;
    height: 616px;
    border-radius: 10px;
    background: #F3F3F3;
    left : 200px;
    top : 144px;
}

.txt1 {
    position: absolute;
    left: 260px;
    top: 42px;
    color: #000;
    text-align: center;
    font-family: 'pretendard-regular';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.add-menubtn{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 355px;
    height: 86px;
    border-radius: 10px;
    background: #E8E8E8;

    left: 68px;
    top: 197px;

    color: #000;
    text-align: center;
    font-family: 'pretendard-regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.del-menubtn{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 355px;
    height: 86px;
    border-radius: 10px;
    background: #E8E8E8;

    right: 68px;
    top: 197px;

    color: #000;
    text-align: center;
    font-family: 'pretendard-regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* 모달 내 메뉴 추가 버튼 css */
.add_menu_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 465px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FF7A00;
}

.add_menu_btn_text{
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.categories_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FF7A00;
}

.categories_btn_text{
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.add-menubtn:hover {
    background: #FF7A00;
    color: #FFF;
}

.del-menubtn:hover {
    background: #FF7A00;
    color: #FFF;
}


