#button-container {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 750px; /* 버튼 사이의 거리를 조절하려면 이 값을 변경하세요 */
}

button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width : 65%;
    height : 6.5vh;
    margin-left : 18%;
    border-radius: .45rem;
    background-color : #838383;
    color : #FFFFFF;
    padding: .5rem .75rem;
    font-size: .875rem;
}

/*비회원 버튼*/
.button2 {

    border:none;
    width : 200px;
    height : 3.5vh;
    margin-left : 28%;
    border-radius: .45rem;
    background-color : #FFFFFF;
    color : black;
    padding: .5rem .75rem;
    font-size: .875rem;
    text-decoration: underline;
}

button:not(.button2):hover {
    background-color: #FD5A27;
}