.singup-container {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 200px;
    top: 180px;
    
    align-items: center;
    justify-content: center;

    width: 880px;
    height: 520px;
    border-radius: 10px;
    background: white;
}

.qr-txt{
    position: absolute;
    top: 300px;

    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.singup-container .light-gray-btn {
    position: absolute;

    bottom: 33px;
}