.main-container {
    width: 1280px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(35deg, #FF7A00 11.31%, #F90 85.68%);
}

.logo-container {
    width: 366.53px;
    height: 61.74px;
    position: absolute;
    top: 171px;
    left: 400px;
    background: url(./img/logo.png);
}

.up-button{
    position: absolute;
    left: 337px;
    top: 366px;
    width: 607px;
    height: 118px;
    border-radius:15px;
    border: 3px solid #FFFFFF;
    background:none;
    text-align:center;
    font-family:'pretendard-regular';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.low-button{
    position: absolute;
    left: 337px;
    top: 512px;
    width: 607px;
    height: 118px;
    border-radius:15px;
    border: 3px solid #FFFFFF;
    background:none;
    text-align:center;
    font-family:'pretendard-regular';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.up-button:hover{
    border: 3px solid #000;
    background-color: #FFF;
    color:black;
}

.low-button:hover {
    border: 3px solid #000;
    background-color: #FFF;
    color: black;
}