.container-fluid {
    display: flex;
    flex-direction: column;
}

.main-container {
  width: 824px;
  height: 800px;
  background-color: #f1f1f1;
}

.top-bar {
  height: 80.5px;
  background-color: #ff7a00;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-bar,
.center-bar,
.right-bar {
  display: flex;
  align-items: center;

  height: 80.5px;
}

.side-container {
  width: 456px;
  height: 800px;
  background-color: #ffffff;
  padding: 10px;
}

.order-list {
  height: 100px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-dialog {
  margin-top: 120px !important;
}

.modal-header {
  margin: 10px 10px;  

  align-items: flex-start !important;
}

.modal-body {
  padding: 0 10px !important;
}

.recommended {
  position: absolute;
  top:0px;
  left:0px;
  width: 150px;
  height: 30px;
  flex-shrink: 0;
  background: url(img/recommended.png) no-repeat ;
  background-size: 150px 30px;
}
.recommended p{
  position: absolute;
  top : 0px;
  left: 7px;
  color: #ffffff;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  align-items: center;
}